@model ICollection<FPTBookStore.Models.Author>



<div class="container-fluid col-md-10 text-center justify-content-center" >
    <h1>Authors</h1>
    <h5 class="text-secondary">Total Authors: @ViewData["total"]</h5>
    <br />
    <table class="table-borderless" id="tb1">
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        @if(Model == null)
        {
            <tr>
                <td>No data</td>
            </tr>
        }else{
        @foreach (var a in Model)
       {
           <tr>
               <td>@a.Id</td>
               <td>@a.FName @a.LName</td>
           </tr>
       }
        }
    </table>
    <a class="btn-outline-warning" asp-action="Create">Add New Author</a>
</div>