@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Frequently asked questions</p>
<br />
<h6>How to buy product?</h6>
<h6>Shipping Price?</h6>
<h6>Quality of Product</h6>
<h6>Book insurance?</h6>
